.foot {
    background: #fff;
    color: #4b5563;
}

.foot .logo {
    color: #111827;
}

.foot .dav {
    color: #4b5563;
}

.foot .AD {
    color: #4b5563;
}

.dark .foot {
    background: #242526;
    color: #fff;
}

.dark .foot .logo {
    color: #fff;
}

.dark .foot .dav {
    color: #fff;
}

.dark .foot .AD {
    color: #fff;
}

.dark_logo {
    display: none;
}

.light_logo {
    display: flex;
}

.dark .dark_logo {
    display: flex;
}

.dark .light_logo {
    display: none;
}

img {
    height: 2.5rem;
}
