.heading {
    color: #226877;
}
.search_bar {
    background: #dce4fd;
    border-color: #c2185b;
    border-width: 2px;
}
.search_btn:focus-visible {
    outline: 2px solid black;
}
.search_bar:focus {
    outline: none;
}
.result {
    background: #dce4fd;
    color: #525353;
}
.result_heading {
    color: #34383a;
}